@import 'components/variables';
@import 'components/globals';
@import 'components/header';
@import 'components/hero';
@import 'components/social-proof';
@import 'components/teachers';
@import 'components/features';
@import 'components/footer';
@import 'components/mediaqueries';