* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #121214;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

a,
a:visited {
  color: inherit;
}

header {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 160rem;
  height: 14rem;
  margin: auto;
  font-size: 1.6rem;
}

header .logo {
  width: 18rem;
  margin-left: 4rem;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: right;
      align-self: right;
  font-weight: 200;
  gap: 3rem;
  cursor: pointer;
}

header .menu .btn {
  border: none;
  border-radius: 50rem;
  padding: 1rem 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3186ee), color-stop(49%, #42abf3));
  background: linear-gradient(180deg, #3186ee 0%, #42abf3 49%);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.7rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 4rem;
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
}

header .menu .btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#428eeb), color-stop(49%, #58b1ec));
  background: linear-gradient(180deg, #428eeb 0%, #58b1ec 49%);
}

header .mobile-version {
  display: none;
}

.gradient-ball {
  width: 40rem;
  height: 40rem;
  border-radius: 20rem;
  background: radial-gradient(circle, rgba(51, 153, 255, 0.2) 0%, rgba(18, 18, 20, 0.5) 60%);
  position: absolute;
  left: 35%;
  top: 20%;
  z-index: -1;
}

.hero {
  max-width: 100rem;
  margin: 10rem auto;
}

.hero h1 {
  color: #FFFFFF;
  font-size: 5.5rem;
  font-weight: 400;
  margin: auto 4rem;
  line-height: 1.2;
}

.hero h1 .h1-bold {
  color: #3399FF;
  font-weight: 700;
}

.hero h1 .fa-chevron-down {
  font-size: 3rem;
  color: #E2E2E2;
  opacity: .3;
  -webkit-animation: arrow 1s infinite ease-in-out;
          animation: arrow 1s infinite ease-in-out;
}

@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  to {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes arrow {
  from {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  to {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.hero .btn-input {
  max-width: 70rem;
  height: 7rem;
  border-radius: 15px;
  padding: 2rem 3rem 1.5rem 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3186ee), color-stop(49%, #42abf3));
  background: linear-gradient(180deg, #3186ee 0%, #42abf3 49%);
  color: #FFFFFF;
  font-weight: 200;
  margin: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hero .btn-input:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#428eeb), color-stop(49%, #58b1ec));
  background: linear-gradient(180deg, #428eeb 0%, #58b1ec 49%);
}

.hero .btn-input .btn-input-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.hero .btn-input .btn-input-header h2 {
  font-size: 2rem;
  font-weight: 400;
}

.hero .btn-input .btn-input-header .btn-input-toggle {
  width: 4rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .8rem 0 0 0;
}

.hero .btn-input .btn-input-header .btn-input-toggle .line1 {
  display: block;
  height: .4rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.hero .btn-input .btn-input-header .btn-input-toggle .line2 {
  display: block;
  height: .4rem;
  width: 50%;
  background-color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 10px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.hero .btn-input .inputs {
  display: none;
}

.hero .btn-input-active {
  height: 60rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
  background: linear-gradient(180deg, #e6e6e6 0%, white 100%);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #121214;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hero .btn-input-active:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(white));
  background: linear-gradient(180deg, #e6e6e6 0%, white 100%);
}

.hero .btn-input-active .btn-input-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .btn-input-active .btn-input-header .btn-input-toggle .line1 {
  background-color: #121214;
}

.hero .btn-input-active .btn-input-header .btn-input-toggle .line2 {
  background-color: #121214;
  -webkit-transform: translateY(-1.1rem);
          transform: translateY(-1.1rem);
  opacity: .2;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.hero .btn-input-active .inputs {
  display: block;
  width: 100%;
  margin-top: 4rem;
  opacity: 1;
  -webkit-animation-name: input;
          animation-name: input;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes input {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes input {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero .btn-input-active .inputs label {
  font-size: 1.6rem;
}

.hero .btn-input-active .inputs input[type=text], .hero .btn-input-active .inputs #newsletter {
  width: 100%;
  height: 4.2rem;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: .5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  background-color: #E2E2E2;
  outline: none;
}

.hero .btn-input-active .inputs input[type=text]:focus, .hero .btn-input-active .inputs #newsletter:focus {
  border: 3px #3399FF solid;
}

.hero .btn-input-active .inputs .btn-form {
  border: none;
  width: 100%;
  border-radius: 50rem;
  padding: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3186ee), color-stop(49%, #42abf3));
  background: linear-gradient(180deg, #3186ee 0%, #42abf3 49%);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 3rem 0;
}

.hero .btn-input-active .inputs .btn-form:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#428eeb), color-stop(49%, #58b1ec));
  background: linear-gradient(180deg, #428eeb 0%, #58b1ec 49%);
}

.social-proof {
  max-width: 100rem;
  margin: 20rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-proof .card {
  max-width: 26rem;
  height: auto;
  background-color: #212025;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem 3rem;
  border-radius: .8rem .8rem 0 0;
  position: relative;
  margin: 0 3rem;
}

.social-proof .card::before {
  content: open-quote;
  position: absolute;
  top: -6rem;
  left: 0;
  font-size: 17rem;
  font-family: Bebas Kai;
  color: transparent;
}

.social-proof .card::after {
  content: close-quote;
  position: absolute;
  top: -6rem;
  left: 0;
  font-size: 17rem;
  font-family: Bebas Kai;
  color: #3399FF;
}

.social-proof .card .card-profile {
  width: 60%;
  position: relative;
}

.social-proof .card .card-profile .profile-img {
  border-radius: 20rem;
  width: 100%;
}

.social-proof .card h3 {
  font-size: 2rem;
  color: white;
  font-weight: 400;
  margin-top: 1rem;
}

.social-proof .card .card-icons {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.social-proof .card .card-icons img {
  width: 3rem;
}

.social-proof .card p {
  font-size: 1.3rem;
  font-weight: 200;
  color: #FFFFFF;
}

.social-proof .card .linkedin-conect {
  width: 100%;
  border: none;
  position: absolute;
  padding: 2rem 0;
  bottom: -6.5rem;
  border-radius: 0 0 .8rem .8rem;
  background-color: #212025;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.social-proof .card .linkedin-conect:hover {
  background-color: #27262c;
}

.social-proof .card .linkedin-conect i {
  margin-right: 1rem;
}

.teachers {
  max-width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  margin: 30rem auto;
}

.teachers .slide-desc {
  color: #FFFFFF;
  width: 40%;
}

.teachers .slide-desc h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative;
}

.teachers .slide-desc h2::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 5rem;
  height: 1rem;
  background: #3399FF;
}

.teachers .slide-desc p {
  font-size: 1.4rem;
}

.teachers .teacher-slide {
  max-width: 50rem;
  border-radius: .8rem;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212025;
  color: #FFFFFF;
}

.teachers .teacher-slide .teacher-img {
  width: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 4rem;
}

.teachers .teacher-slide .teacher-img::after {
  position: absolute;
  content: '';
  top: -1.5rem;
  left: -1.4rem;
  height: 26rem;
  width: 26rem;
  border: 0.6rem #3399FF solid;
  border-radius: 20rem;
}

.teachers .teacher-slide .teacher-img i {
  font-size: 2rem;
  cursor: pointer;
}

.teachers .teacher-slide .teacher-img .fa-chevron-right {
  position: absolute;
  right: -10rem;
}

.teachers .teacher-slide .teacher-img .fa-chevron-left {
  position: absolute;
  left: -10rem;
}

.teachers .teacher-slide .teacher-img img {
  width: 100%;
  border-radius: 20rem;
}

.teachers .teacher-slide h3 {
  font-size: 3rem;
  font-weight: 400;
}

.teachers .teacher-slide .expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 0 0;
}

.teachers .teacher-slide .expertise p {
  width: 50%;
  font-size: 1.3rem;
  border-right: 1px white solid;
}

.teachers .teacher-slide .expertise img {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
}

.features {
  max-width: 144rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30rem auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .feature-card {
  max-width: 28rem;
  color: #FFFFFF;
  text-align: center;
  padding: 2rem;
}

.features .feature-card i {
  font-size: 8rem;
  margin-bottom: 4rem;
  opacity: .5;
}

.features .feature-card h3 {
  font-size: 2.1rem;
  margin-bottom: 2rem;
  color: #3399FF;
}

.features .feature-card p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.features .feature-card a {
  font-size: 1.6rem;
  color: #3399FF;
  -webkit-transition: .3s;
  transition: .3s;
}

.features .feature-card a:hover {
  color: #FFFFFF;
}

footer .bottom-border {
  width: 100%;
  height: 1rem;
  background-color: #3399FF;
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 52.5%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 45.5%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 42.5%;
  }
  .gradient-ball {
    width: 25rem;
    height: 25rem;
    border-radius: 20rem;
    top: 30%;
  }
}

@media only screen and (max-width: 800px) {
  header {
    font-size: 2.2rem;
  }
  header .menu .btn {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 655px) {
  header {
    height: 10rem;
  }
  header .logo {
    width: 19rem;
  }
  header .menu {
    display: none;
  }
  header .mobile-version {
    margin-right: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .mobile-version .hamburger {
    width: 4.6rem;
    height: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 101;
  }
  header .mobile-version .hamburger .line {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .mobile-version .hamburger .line1 {
    width: 50%;
  }
  header .mobile-version .hamburger .line3 {
    width: 50%;
  }
  .hero .btn-input {
    height: auto;
  }
  .social-proof .card {
    margin: 6rem 3rem;
    max-width: 38rem;
  }
  .social-proof .card p {
    font-size: 1.9rem;
  }
  .teachers {
    max-width: 55rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .teachers .slide-desc {
    width: 100%;
    margin-top: 6rem;
  }
}
/*# sourceMappingURL=main.css.map */