.hero {

    max-width: 100rem;
    margin: 7rem auto;

    h1 {

        color: $white;
        font-size: 5.5rem;
        font-weight: 400;
        margin: auto 4rem;
        line-height: 1.2;

        .h1-bold {

            color: $blue;
            font-weight: 700;
        }

        .fa-chevron-down {
            font-size: 3rem;
            color: $lightgray;
            opacity: .3;
            animation: arrow 1s infinite ease-in-out;

            @keyframes arrow {
                from {transform: translateY(-1rem);}
                to {transform: translateY( 1rem);}
              }
        }
    }


    .btn-input {

        max-width: 70rem;
        height: 7rem;
        border-radius: 15px;
        padding: 2rem 3rem 1.5rem 3rem;
        background: $gradientblue;
        color: $white;
        font-weight: 200;
        margin: 2rem 4rem;
        display: flex;
        flex-direction: column;
        transition: all .4s ease-in-out;

        &:hover {

            background: $gradientblueHover;
        }

        .btn-input-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

        h2 {

            font-size: 2rem;
            font-weight: 400;
        }

        .btn-input-toggle {

            width: 4rem;
            height: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: .8rem 0 0 0 ;

            .line1 {
                display: block;
                height: .4rem;
                width: 100%;
                background-color: $white;
                border-radius: 10px;
            }

            .line2 {
                display: block;
                height: .4rem;
                width: 50%;
                background-color:$white;
                align-self: flex-end;
                border-radius: 10px;
                transition: transform .2s ease-in-out;
            }
          }
        }

        .inputs {

            display: none;
        }
    }

    .btn-input-active {

        height: 60rem;
        background: $whitegradient;
        align-items: flex-start;
        color: $bgblack;
        transition: all .4s ease-in-out;

        &:hover {
            background: $whitegradient;
        }

        .btn-input-header {
            width: 100%;
            display: flex;
            justify-content: space-between;


        .btn-input-toggle .line1 {
            
            background-color: $bgblack;
        }

        .btn-input-toggle .line2 {
            
            background-color: $bgblack;
            transform: translateY(-1.1rem);
            opacity: .2;
            transition: transform .2s ease-in-out;
            
        }
      }

      .inputs {

        display: block;
        width: 100%;
        margin-top: 4rem;
        opacity: 1;
        animation-name: input;
        animation-duration: 1s;

        @keyframes input {
            from {opacity: 0;}
            to {opacity: 1;}
          }

        label {

            font-size: 1.6rem;
        }

        input[type=text], #newsletter {

            width: 100%;
            height: 4.2rem;
            padding: 1.3rem 2rem;
            border: none;
            border-radius: 1rem;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            background-color: $lightgray;
            outline: none;

        }

        .btn-form {

            border: none;
            width: 100%;
            border-radius: 50rem;
            padding: 1.5rem;
            background: $gradientblue;
            color: $white;
            font-weight: 600;
            font-size: 2rem;
            cursor: pointer;
            transition: .3s;
            align-self: center;
            margin: 3rem 0;

            &:hover {

                background: $gradientblueHover;
            }

        }
     }
    }
}