
// colors

$bgblack: #121214;
$blue: #3399FF;
$white: #FFFFFF;
$lightgray: #E2E2E2;
$gradientblue : linear-gradient(180deg, rgb(49, 134, 238) 0%, rgba(66,171,243,1) 49%);
$gradientblueHover : linear-gradient(180deg, rgb(66, 142, 235) 0%, rgb(88, 177, 236) 49%);
$whitegradient: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);
